[user]
	name = Ryohei Shioji
	email = soltsoldier0730rs@gmail.com

[alias]
  st = status
  pu = push
  re = reset
  cm = commit
  b = branch
  co = checkout

[merge]
	ff = false

[core]
	editor = nvim
